<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.curriculum_vitae -%}
        <li>
          <a target="_blank" href="{{ site.curriculum_vitae }}" class=" button button--sacnite button--round-l">
            <i class="fa fa-id-card" title="CV Link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.mail_username -%}
        <li>
          <a target="_blank" href="mailto:{{ site.mail_username }}" class="button button--sacnite button--round-l">
            <i class="fa fa-envelope" title="Mail link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.github_username -%}
        <li>
          <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-github" title="Github link"></i>
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>